<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="base.Listeners"/>
    </listeners>
    <test name="Login page tests">
        <classes>
            <class name="ui_tests.LoginAndRegistrationPageTests">
                <methods>
                    <include name="loginWithValidCredentials"/>
                    <include name="switchBetweenLogAndReg"/>
                    <include name="checkPrivacyAgreement"/>
                    <include name="createNewUser"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Dashboard page tests">
        <classes>
            <class name="ui_tests.DashboardPageTest"/>
        </classes>
    </test>
    <test name="Broken test for DEMO">
        <classes>
            <class name="ui_tests.BrokenForDemoTest"/>
        </classes>
    </test>
</suite>